<header class="flex items-center gap-4">
  <button class="md:hidden text-2xl text-primary p-2 hover:bg-secondary/30 rounded-xl transition-all"
    (click)="toggleMenu.emit()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <h2 class="flex-1">{{ title }}</h2>

  <div class="header-actions">
    <!-- Nút toggle mode -->
    <button class="mode-toggle" (click)="toggleDarkMode()">
      <i [ngClass]="isDarkMode ? 'fa fa-sun' : 'fa fa-moon'"></i>
    </button>

    <!-- Profile -->
    <div class="profile-container">
      <div class="profile" (click)="toggleProfileMenu()">
        <i class="fa fa-user-circle"></i>
      </div>

      <!-- Dropdown menu -->
      <div class="profile-menu" [class.open]="profileMenuOpen">
        <button (click)="changePassword()">Đổi mật khẩu</button>
        <button (click)="logout()">Đăng xuất</button>
      </div>
    </div>
  </div>
</header>