<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1855760a-5b25-4ebc-a55a-20c5c295e4f9/resourceGroups/BaoCaoOnline/providers/Microsoft.Web/sites/baocaoonline</ResourceId>
    <ResourceGroup>BaoCaoOnline</ResourceGroup>
    <ApiResourceId>/subscriptions/1855760a-5b25-4ebc-a55a-20c5c295e4f9/resourceGroups/BaoCaoOnline/providers/Microsoft.ApiManagement/service/BaoCaoOnline/apis/API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://baocaoonline-c4fmdshmg0d7bmfu.eastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f07b2b60-953c-46a7-939e-6ccc53fec2f6</ProjectGuid>
    <MSDeployServiceURL>baocaoonline-c4fmdshmg0d7bmfu.scm.eastasia-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>baocaoonline</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA2EQddSNNUkWMxVRvtotLMQAAAAACAAAAAAAQZgAAAAEAACAAAAA5BfGDLfeI0DulcL2CYx2S+GZ6ZgleUlbMBV7M04Y5PQAAAAAOgAAAAAIAACAAAADYx0r9ZbqsOp3X3fMdo+SCRuAfT8W36kER9sJMgTMKdiAAAAD8z6jJ7RqbDT0LOsgTvC3Pw8exKDQfGXuqvZzdqhQo9EAAAACZKp/4tdHKb848VZq7L8mFhvhv+OxJ8cKNXSF0/GgUI9SrqowJV7W8Gj46Wq15HAbKs7aRoYPqLsfleMGlsTPB</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>