<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1855760a-5b25-4ebc-a55a-20c5c295e4f9/resourcegroups/API20260114221845ResourceGroup/providers/Microsoft.Web/sites/BaoCao</ResourceId>
    <ResourceGroup>API20260114221845ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://baocao-ctcahqh4fuf5ahdj.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f07b2b60-953c-46a7-939e-6ccc53fec2f6</ProjectGuid>
    <MSDeployServiceURL>baocao-ctcahqh4fuf5ahdj.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BaoCao</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>dobahung941997@gmail.com</UserName>
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <History>False|2026-01-30T01:55:50.5051160Z||;True|2026-01-25T21:12:27.7014967+07:00||;True|2026-01-14T22:29:34.6549519+07:00||;</History>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAOH5yrrs8+UmqcloM8i/o4wAAAAACAAAAAAAQZgAAAAEAACAAAADxQc1onG6s3XYrAkBaqRDMVAChoQJwqHv3Oz33Fn1xKAAAAAAOgAAAAAIAACAAAADP8JQMZVhwvLMFNXi1oWFcjDLqwPDfH2PpkVR+njUoESAAAAAv9aML0q3fhrDK6MuSXE80kHvy1/MFEtACcGZKxZAWpUAAAABfVzK8uZwpqZGEL7lTANm5Y/l5BZTZpOd24kSXgjMQpYuMmbr4VQKZ4CNJR8ROOh1EAgJYmqP03qZxrOapW39G</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>